# Contents:

#### Import libraries and set up dataframes
#### Merging the data sets
#### Exporting as a pkl file

## Import libraries and set up dataframes

In [1]:
import pandas as pd
import numpy as np
import os

In [16]:
# To establish order_products_prior as a dataframe
df_ords_prior=pd.read_csv((r'C:\Users\Shelb\OneDrive\Documents\CF Coursework\Python Fundamentals for Data Analysts\10-2022 Instacart Basket Analysis\Data\Original Data\order_products__prior.csv'),index_col=False)

In [14]:
# To establish df_ords as a data frame
df_ords=pd.read_csv((r'C:\Users\Shelb\OneDrive\Documents\CF Coursework\Python Fundamentals for Data Analysts\10-2022 Instacart Basket Analysis\Data\Prepared Data\orders_checked.csv'),index_col=False)

In [17]:
# To check the output of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
# To check the shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [19]:
# To check the output of df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,hour_order_placed,days_since_prior_order,new_customer
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [12]:
# To check the shape of df_ords
df_ords.shape

(3421083, 9)

## Merging the data sets

In [25]:
# To merge df_ords_prior onto df_ords
df_merged_large=df_ords.merge(df_ords_prior,on='order_id',indicator=True)

In [26]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,hour_order_placed,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

## Exporting as a pkl file

In [28]:
# To create a path to the Instacart project folder
path=r'C:\Users\Shelb\OneDrive\Documents\CF Coursework\Python Fundamentals for Data Analysts\10-2022 Instacart Basket Analysis'

In [30]:
# To export df_merged_large as a pkl file
df_merged_large.to_pickle(os.path.join(path,'Data','Prepared Data','orders_products_combined.pkl'))